[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==5.1.6"
django-filer = "==3.3.1"
django-jazzmin = "==3.0.1"
pillow = "==11.1.0"
setuptools = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.1"
